/* /* div{
    width: 600px;
    height: 500px;
    background-color: aqua;
    padding: 10px 20px 0px 30px;
    border: 10px dashed #000;
    margin: 20px;

}
body{
margin: 0px;
padding: 0px;
} */
    /* .one{
        width: 940px;
        height: 300px;
        background-color: lightgreen;
        display: flex;
    }
.two{
    width: 250px;
    height: 300px;
    background-color: tomato;

}
.three{
    width: 300px;
    height: 300px;
    background-color: violet;
    margin: 0  auto ; */

    
/* }
.main{
    background-color: hsl(209, 81%, 52%);
} */

    /* background-color: rgba(241, 249, 219, 0.966);
    margin: 0;
    padding: 0;
  background-image: url(./giyu.jpg);
  background-size: 300px 150px ;
  background-repeat: repeat-x; */
  /* background: url(./giyu.jpg) repeat-x top right #999  ; */
/* #one{
display: inline-block;
color: cadetblue;
}
img{
    border: 5px solid black;
    float: left;
}
#two{
    color: chartreuse;
    display: block;
} */
/* main{
   background-color: aquamarine;
   display: flex;
   flex-direction: row;
flex-wrap: wrap;
gap: 10px;
justify-content: space-between;
height: auto;


}
.box{
    width: 200px;
    height: 200px;
    background-color: burlywood;
    display: flex;
}
section{
    width: 900px;
    height: 300px;
    background-color: yellowgreen;
    margin: 10px auto;
    display: flex;
    gap: 10px;

}
#left{
    flex-grow: 1;
    background-color: black;
    
}
#right{
    flex-grow: 2;
    background-color: tomato;

}
 */





