/* /* div{
    width: 600px;
    height: 500px;
    background-color: aqua;
    padding: 10px 20px 0px 30px;
    border: 10px dashed #000;
    margin: 20px;

}
body{
margin: 0px;
padding: 0px;
} */
    .one{
        width: 940px;
        height: 300px;
        background-color: lightgreen;
        display: flex;
    }
.two{
    width: 250px;
    height: 300px;
    background-color: tomato;

}
.three{
    width: 300px;
    height: 300px;
    background-color: violet;
    margin: 0  auto ;

    
}
.main{
    background-color: hsl(209, 95%, 70%);
}